@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;       
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #ff2562;
    clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
}

section .content {
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0; 
}

section .content h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
}

section .content p {
    color: #fff;
    font-size: 1.2em;
}

section .content a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #ff2562;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
}

section .imgBx {
    position: relative;
    margin-top: -60px;
    padding-right: 100px;
}

section .imgBx img {
    max-width: 500px;
}

.sci {
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

.sci li {
    list-style-type: none;
}

.sci li a {
    text-decoration: none;
    color: #999;
    margin-right: 30px;
    font-size: 0.95em;
}

.sci li a:hover {
    color: #fff;
}

.nav {
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff2562;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a.active,
.nav li a:hover {
    color: #ff2562;
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes left-in {

    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}